---
import RecommendedModelCard from "./ModelCardMini.astro";
import { getListPage } from "@/lib/contentParser.astro";
import type { ContentEntryMap } from "astro:content";
const { lang } = Astro.params;
const homepage = await getListPage("homepage", lang as keyof ContentEntryMap);
const { banner } = homepage[0].data;


const { models } = Astro.props;
---

<section class="py-8">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl text-center mb-8 mt-4">{banner.recommended_models.title}</h2>
    <div class="swiper recommended-models-slider">
      <div class="swiper-wrapper">
        {models.map((model: any) => (
          <div class="swiper-slide px-2 mt-4">
            <RecommendedModelCard data={model} />
          </div>
        ))}
      </div>
      <div class="recommended-models-slider-pagination mt-6 flex items-center justify-center" />
    </div>
  </div>
</section>

<script>
  import { Swiper } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";
  import { Autoplay, Pagination } from "swiper/modules";

  document.addEventListener("astro:page-load", () => {
    new Swiper(".recommended-models-slider", {
      modules: [Pagination, Autoplay],
      spaceBetween: 16,
      loop: true,
      slidesPerView: 1,
      centeredSlides: false,
      autoplay: {
        delay: 8000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".recommended-models-slider-pagination",
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 24,
        },
      },
    });
  });
</script>

<style>
  :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    background: #ccc;
    opacity: 0.5;
  }
  :global(.swiper-pagination-bullet-active) {
    opacity: 1;
    background: #666;
  }
</style> 